{% extends "base.html" %}

{% block titulo_conteudo %} Detalhes do Pedido #{{ pedido.id }} {% endblock titulo_conteudo %}

{% block conteudo %} 

<p><strong>Cliente:</strong> {{ pedido.cliente.nome }}</p>
<p><strong>Data do Pedido:</strong> {{ pedido.data_pedidof }}</p>
<p><strong>Status:</strong> {{ pedido.get_status_display }}</p>

<div class="alert alert-secondary mt-3">
    <div class="row">
        <div class="col-md-4"><strong>Total do Pedido:</strong> R$ {{ pedido.total|floatformat:2 }}</div>
        <div class="col-md-4 text-success"><strong>Total Pago:</strong> R$ {{ pedido.total_pago|floatformat:2 }}</div>
        <div class="col-md-4 text-danger"><strong>Débito:</strong> R$ {{ pedido.debito|floatformat:2 }}</div>
    </div>
</div>

<hr>
<h5>Adicionar Produto</h5>
<form method="POST">
    {% csrf_token %}
    <p>
     <label for="id_produto_nome">Produto:</label>    
    <input type="text" class="form-control autocomplete" 
            id="id_produto_nome" 
            data-url="{% url 'buscar_dados' 'home.Produto' %}" 
            value="{{item_pedido.produto.nome}}" 
            data-hidden="#id_produto" >
    </p>
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-sm">Salvar Produto</button>
    
    <button type="button" onclick="location='{% url 'form_pagamento' pedido.id %}'" class="btn btn-success btn-sm">Registrar Pagamento</button>
    
    <a href="{% url 'nota_fiscal' pedido.id %}" target="_blank" class="btn btn-info btn-sm">Nota Fiscal</a>
</form>

<hr>
<h5>Itens do Pedido</h5>
<table class="table table-striped align-middle"> 
    <thead>
        <tr>
            <th>ID</th> <th>#</th> <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço Unitário (R$)</th>
            <th>Total (R$)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for item in pedido.itempedido_set.all %}
        <tr>
            <td>{{ item.produto.id }}</td>
            <td>
                {% if item.produto.img_base64 %}
                    <img src="{{ item.produto.img_base64 }}" style="width: 50px; height: 50px; object-fit: cover; border-radius: 5px;">
                {% else %}
                    <span class="text-muted">Sem img</span>
                {% endif %}
            </td>
            <td>{{ item.produto.nome }}</td>
            <td>{{ item.qtde }}</td>
            <td>{{ item.preco }}</td>
            <td>{{ item.total }}</td> 
            <td>
              <a href="{% url 'editar_item_pedido' item.id %}" class="btn btn-warning btn-sm">Editar</a>
              <a href="{% url 'remover_item_pedido' item.id %}" class="btn btn-danger btn-sm" 
              onclick="return confirm('Tem certeza que deseja remover este item?');">Remover</a>
            </td>         
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock conteudo %}